
body {
  background-color: #0D99E8;
  font-family: Verdana;
  text-align: center;
}
h1{
    color: #fff;
    margin-bottom: -20px;
}
.name{
    display: flex;
    justify-content: space-between;

}
form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-align {
  text-align: left;
  margin-bottom: 25px;
}
.form-align label {
  display: block;
  margin-bottom: 10px;
}

.form-align input,
.form-align select {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 5px;
  display: block;
  width: 95%;
}
.gender{
    text-align: left;
    margin-bottom: 25px;
}
.buttons {
    background-color: #0D99E8;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}


.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    text-align: left;
    
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
